.main {
    display: flex;
    align-items: center;
    justify-content: center;
 
    .container {
    width: 50%;
    
    background-color: white;
    min-height: 100vh;
    border-radius: 2em;
    box-shadow: 0 0.188em 1.550em rgb(156, 156, 156);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


.login  {
    padding: 5px 10px;
    border-radius: 8px;
    background-color: purple;
    border: 1px solid red;
    text-decoration: none;
    color: white;
}
}
}